.info-card {
    width: 50rem;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.card {
    width: 50rem;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    background-color: #D4C8BE;

}

.card-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.card-name button {
    width: 5rem;
    height: 2rem;
}

.background-gray {
    width: 50rem;
    height: 4rem;
    align-items: center;
    background-color: #AF9F8C;

}