.info-card {
    min-width: 45rem;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.card {
    width: 45rem;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    background-color: #D4C8BE;
    border: 1px solid white;

}

.card-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
}

.card-name p {
    white-space: nowrap;
}

.background-gray {
    width: 45rem;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    background-color: #AF9F8C;
    border: 1px solid white;

}

.card-name p {
    color: rgb(56, 56, 56);
    font-size: 14pt;
    font-weight: 600;
}

.card-name button {
    width: 6rem;
    height: 2rem;
}